@font-face {
  font-family: 'Hackman';
  src: url('../fonts/Hackman/Hackman.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Hackman/Hackman.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Hackman-Bold';
  src: url('../fonts/Hackman/Hackman-Bold.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Hackman/Hackman-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	

	outline:0 none !important;
} 

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 10px / 16px -> 62.5% -> 1rem -> 10px */
} 

html,
body,
#react_root {
	position: relative;
	
	font-family: 'Hackman';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	
	width: 100vw;
	height: 100vh;
	
	top: 0px;
	left: 0px;

}

/* Flex and Grid stuff*/
.flex-row-filler {
	flex-grow: 1;
}

 
/* Particular to this project */
/* Display Areas */
.board-split-view {
	display: grid;
	grid-template-columns: 	1fr 1fr;
}

	.board-debugger {
		position: relative;
		min-height: 100%;
		width: 100%;
		border-right: 1px solid rgba(9,81,105);
		font-size: 1.2rem;
		margin-right: .5rem;
		overflow: scroll;
		max-height: calc(100vw - 12rem);		
	}
	.board-debugger .debugger {
		width: 0px;
		height: 0px;
		overflow: hidden;
		display: none;		
	}

	
	.board-messages-container {
		background-color: rgb(3, 26, 22);
		padding: .5rem;
	}
	.board-messages-title {
		color:  rgb(210, 231, 228);
	}
	.board-messages-message-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
		.board-messages-message-row-msg {
			color: rgb(62, 121, 150);
		}

	/* right side*/
	.board-blocks-grid {
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.board-actions {
		display:flex;
		flex-direction: row;
		
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
		
		height: 5rem;
		border-top: 1px solid rgba(9,81,105);
		
		align-items: center;
		padding: .5rem;
	}
	.board-actions svg {
		max-width: 4rem; 
	}
	.board-actions svg:not(:first-child) {
		margin-left: .5rem;
	}
	.board-actions svg:hover {
		cursor:pointer;
	}



/* Form stuff */
form {
	display: flex;
	flex-direction: column;
}
fieldset {
	border: 0px;
	display: flex;
	flex-direction: column;
}
	.form-title {
		font-size: 2rem;
	}
	.form-sub-title {
		font-size: 1.4rem;
	}	
	.form-splitter {
		width: 100%;
		height: 1px;
		margin: 1rem 0 1rem 0;
		border-top: 1px solid rgba(9,81,105,1);
	}
	.form-actions {
		display: flex;
		flex-direction: row;	
		align-items: center;
		padding-top: .5rem;
	}
	.form-actions :not(:last-child) {
		margin-right: .5rem;
	}
	
	input:not(:first-child) {
		margin-top: .5rem;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		background: transparent;
		border:  1px solid rgba(9,81,105);
		color: rgba(83,186,131,1);
		padding: .5rem;
	}
	
	::placeholder {
		color: rgba(83,186,131,.7);
	}
	
	input[type="submit"] {
		background: rgba(9,81,105);
		border: 0px;
		padding: .5rem;
		color: #000;
		max-width: 20rem;
		margin-top:0px;
		height: 2.2rem;
	}
	input[type="submit"]:hover {
		cursor:pointer;
	}
	.form-select {
		position: relative;
		-moz-appearance: none;
		-webkit-appearance: none;	
			
		background: transparent;
		border: 1px solid rgba(9,81,105);
		appearance: none;
		
		color: rgba(83,186,131,1);
		outline:0px;		
	}
	.form-select option {
		background: rgba(12,6,54,.8);
	}
	

